<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javayh.advanced.mybatis.mapper.TestMapper">

    <resultMap type="com.javayh.advanced.mybatis.vo.LogisticsVO" id="logisticsMap">
        <result property="addressee" column="addressee"/>
        <result property="addressee_name" column="addressee_name"/>
        <result property="addressee_phone" column="addressee_phone"/>
        <collection property="senderVOList"  resultMap = "senderVOListMap"/>
    </resultMap>
    <resultMap type="com.javayh.advanced.mybatis.vo.LogisticsSenderVO" id="senderVOListMap">
        <result property="sender_add" column="sender_add"/>
        <result property="sender_name" column="sender_name"/>
        <collection property="informationVOS"  resultMap = "informationVOSMap"/>
    </resultMap>
    <resultMap type="com.javayh.advanced.mybatis.vo.OtherInformationVO" id="informationVOSMap">
        <result property="create_by" column="create_by"/>
        <result property="create_date" column="create_date"/>
        <result property="retreat_status" column="retreat_status"/>
        <result property="ems_status" column="ems_status"/>
    </resultMap>
    <select id="findAll" resultMap="logisticsMap">
        SELECT
            addressee,
            addressee_name,
            addressee_phone,
            sender_add sender_name,
            ems_status,
            retreat_status,
            create_by,
            create_date
        FROM
            sys_logistics
    </select>

</mapper>
